.navbar{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-item{
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
}

